<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance-Marker</title>
    <script src="https://cdn.tailwindcss.com"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/datepicker.min.js"></script>
    <style>
        body::-webkit-scrollbar {
            width: 10px; 
        }
        
        body::-webkit-scrollbar-thumb {
            background-color: rgba(106, 25, 212, 0.7);
            border-radius: 9999px;
        }
        
        body::-webkit-scrollbar-thumb:hover {
            background-color: rgba(106, 25, 212, 0.9);
            width: 11px;
        }
        
        body::-webkit-scrollbar-track {
            background-color: rgba(30, 41, 59);
            /* color: rgb(255, 115, 0); */
        }
        
    </style>
</head>

<body class="bg-slate-600 md:px-[10%]">
<div class="p-[5%] h-screen">
    
    <div class="m-auto  text-white rounded-lg md:flex md:gap-0 gap-4 shadow-2xl">
        <div class=" md:w-[50%]  h-full  bg-gradient-to-r from-slate-950 to-slate-800 md:rounded-l-lg md:rounded-r-sm rounded-t-lg p-10">
            <div class="text-center">
            
            <h1 class="mb-12 mt-1 pb-1 text-xl md:text-2xl font-semibold">
                Attendance-Marker
            </h1>

            <form method='POST' action='/process' enctype="multipart/form-data">
                <div class='flex justify-center border-0 mb-4'>
                    <div class="relative max-w-sm">
                        <input type="date" id='date' name='date' class="px-2 py-1 rounded bg-slate-600 outline-none focus:border-blue-500">
                    </div>
                </div>

            
                <h2 class="text-xl">Upload the image</h2>
                <div class=" items-center pt-5">
                    <div  class="flex items-center justify-center w-full h-[255px] overflow-auto">
                        <label   class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600" enctype="multipart/form-data">
                            <div id="img-preview" class="flex flex-col items-center justify-center pt-5 pb-6">
                                <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"/>
                                </svg>
                                <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click to upload</span></p>
                                <p class="text-xs text-gray-500 dark:text-gray-400">PNG, JPG or JPEG</p>
                            </div>
                            <input type="file" name="file" class="hidden" onchange="getImagePreview(event)"  /> 
                        </label>
                        
                        
                    </div> 
                </div>
                


                </div>
                    <div class="text-center pt-4 pb-5 ">
                        <button type='submit' class="relative  inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800">
                            <span class="relative  px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                                Process Image
                            </span>
                        </button>
                    </div>
                </div> 
            </form>
        
        <div class="md:w-[50%] flex items-center bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 p-2 md:p-5 md:rounded-b-sm rounded-b-lg  md:rounded-r-lg">
            <div class=" bg-opacity-40 bg-black my-auto rounded-xl p-5 md:p-[5%]">
                <h1 class="text-2xl text-center">
                    About the model
                </h1>
                <p class="text-md mt-2">
                    We've implemented a machine learning algorithm that 
                    captures faces in a photo to record class attendance.
                    
                    <ul>
                        <br>
                        <li>- Select a date</li>
                        <li>- Upload and process photos</li>
                        <li>- Download attendance</li>
                    </ul>

                    <br>
                    <strong>NOTE</strong>: The attendance must be downloaded only after all the 
                    photos taken on a particular day are uploaded; to ensure completion of the attendance update.

                    <div class='flex justify-center mt-[10%] gap-4'>
                        <form action='/download-pdf' method='GET' id='pdf-form'>
                            <button type='submit' class='bg-red-600 hover:bg-red-700 rounded-md p-2'>
                                <span class='flex text-sm'>
                                    <?xml version="1.0" encoding="iso-8859-1"?>
                                    <svg class='mr-1' height="20px" width="20px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
                                        viewBox="0 0 512 512" xml:space="preserve">
                                        <path style="fill:#E2E5E7;" d="M128,0c-17.6,0-32,14.4-32,32v448c0,17.6,14.4,32,32,32h320c17.6,0,32-14.4,32-32V128L352,0H128z"/>
                                        <path style="fill:#B0B7BD;" d="M384,128h96L352,0v96C352,113.6,366.4,128,384,128z"/>
                                        <polygon style="fill:#CAD1D8;" points="480,224 384,128 480,128 "/>
                                        <path style="fill:#F15642;" d="M416,416c0,8.8-7.2,16-16,16H48c-8.8,0-16-7.2-16-16V256c0-8.8,7.2-16,16-16h352c8.8,0,16,7.2,16,16
                                            V416z"/>
                                        <g>
                                            <path style="fill:#FFFFFF;" d="M101.744,303.152c0-4.224,3.328-8.832,8.688-8.832h29.552c16.64,0,31.616,11.136,31.616,32.48
                                                c0,20.224-14.976,31.488-31.616,31.488h-21.36v16.896c0,5.632-3.584,8.816-8.192,8.816c-4.224,0-8.688-3.184-8.688-8.816V303.152z
                                                M118.624,310.432v31.872h21.36c8.576,0,15.36-7.568,15.36-15.504c0-8.944-6.784-16.368-15.36-16.368H118.624z"/>
                                            <path style="fill:#FFFFFF;" d="M196.656,384c-4.224,0-8.832-2.304-8.832-7.92v-72.672c0-4.592,4.608-7.936,8.832-7.936h29.296
                                                c58.464,0,57.184,88.528,1.152,88.528H196.656z M204.72,311.088V368.4h21.232c34.544,0,36.08-57.312,0-57.312H204.72z"/>
                                            <path style="fill:#FFFFFF;" d="M303.872,312.112v20.336h32.624c4.608,0,9.216,4.608,9.216,9.072c0,4.224-4.608,7.68-9.216,7.68
                                                h-32.624v26.864c0,4.48-3.184,7.92-7.664,7.92c-5.632,0-9.072-3.44-9.072-7.92v-72.672c0-4.592,3.456-7.936,9.072-7.936h44.912
                                                c5.632,0,8.96,3.344,8.96,7.936c0,4.096-3.328,8.704-8.96,8.704h-37.248V312.112z"/>
                                        </g>
                                        <path style="fill:#CAD1D8;" d="M400,432H96v16h304c8.8,0,16-7.2,16-16v-16C416,424.8,408.8,432,400,432z"/>
                                    </svg>
                                    Download (PDF)
                                </span>
                            </button>
                        </form>

                        <form action='/download-xls' method='GET' id='csv-form'>
                            <button type='submit' class='bg-green-600 hover:bg-green-700 rounded-md p-2'>
                                <span class='flex text-sm'>
                                    <?xml version="1.0" encoding="iso-8859-1"?>
                                    <svg class='mr-1' height="20px" width="20px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
                                        viewBox="0 0 512 512" xml:space="preserve">
                                        <path style="fill:#E2E5E7;" d="M128,0c-17.6,0-32,14.4-32,32v448c0,17.6,14.4,32,32,32h320c17.6,0,32-14.4,32-32V128L352,0H128z"/>
                                        <path style="fill:#B0B7BD;" d="M384,128h96L352,0v96C352,113.6,366.4,128,384,128z"/>
                                        <polygon style="fill:#CAD1D8;" points="480,224 384,128 480,128 "/>
                                        <path style="fill:#84BD5A;" d="M416,416c0,8.8-7.2,16-16,16H48c-8.8,0-16-7.2-16-16V256c0-8.8,7.2-16,16-16h352c8.8,0,16,7.2,16,16
                                            V416z"/>
                                        <g>
                                            <path style="fill:#FFFFFF;" d="M144.336,326.192l22.256-27.888c6.656-8.704,19.584,2.416,12.288,10.736
                                                c-7.664,9.088-15.728,18.944-23.408,29.04l26.096,32.496c7.04,9.6-7.024,18.8-13.936,9.328l-23.552-30.192l-23.152,30.848
                                                c-6.528,9.328-20.992-1.152-13.696-9.856l25.712-32.624c-8.064-10.112-15.872-19.952-23.664-29.04
                                                c-8.048-9.6,6.912-19.44,12.8-10.464L144.336,326.192z"/>
                                            <path style="fill:#FFFFFF;" d="M197.36,303.152c0-4.224,3.584-7.808,8.064-7.808c4.096,0,7.552,3.6,7.552,7.808v64.096h34.8
                                                c12.528,0,12.8,16.752,0,16.752H205.44c-4.48,0-8.064-3.184-8.064-7.792v-73.056H197.36z"/>
                                            <path style="fill:#FFFFFF;" d="M272.032,314.672c2.944-24.832,40.416-29.296,58.08-15.728c8.704,7.024-0.512,18.16-8.192,12.528
                                                c-9.472-6-30.96-8.816-33.648,4.464c-3.456,20.992,52.192,8.976,51.296,43.008c-0.896,32.496-47.968,33.248-65.632,18.672
                                                c-4.24-3.456-4.096-9.072-1.792-12.544c3.328-3.312,7.024-4.464,11.392-0.88c10.48,7.152,37.488,12.528,39.392-5.648
                                                C321.28,339.632,268.064,351.008,272.032,314.672z"/>
                                        </g>
                                        <path style="fill:#CAD1D8;" d="M400,432H96v16h304c8.8,0,16-7.2,16-16v-16C416,424.8,408.8,432,400,432z"/>
                                    </svg>
                                    Download (CSV)
                                </span>
                            </button>
                        </form>
                    </div>
                </p>
            </div>
        </div>   
    </div>
    <div class="container mx-auto mt-[5%]">
        <div class='flex justify-between px-[1%]'>
            <h1 class="text-2xl text-white text-center font-semibold mb-4">
                Class Total Attendance
            </h1>

            <a href='/docs' target='blank'>
                <button title="Save" class="cursor-pointer flex items-center fill-lime-400 bg-lime-950 hover:bg-lime-900 active:border active:border-lime-400 rounded-md duration-100 p-2">
                    <?xml version="1.0" encoding="utf-8"?><!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
                <svg class='mx-2' width="20px" height="20px" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg" mirror-in-rtl="true">
                    <path fill="#" d="M12.1.6a.944.944 0 0 0 .2 1.04l1.352 1.353L10.28 6.37a.956.956 0 0 0 1.35 1.35l3.382-3.38 1.352 1.352a.944.944 0 0 0 1.04.2.958.958 0 0 0 .596-.875V.96a.964.964 0 0 0-.96-.96h-4.057a.958.958 0 0 0-.883.6z"/>
                    <path fill="#" d="M14 11v5a2.006 2.006 0 0 1-2 2H2a2.006 2.006 0 0 1-2-2V6a2.006 2.006 0 0 1 2-2h5a1 1 0 0 1 0 2H2v10h10v-5a1 1 0 0 1 2 0z"/>
                </svg>
                    <span class="text-sm text-lime-400 font-bold pr-1">
                    View in new page
                    </span>
                </button>
            </a>
        </div>
        <div class="w-[100%]">
            <table class="w-full  bg-gray-700 shadow-md rounded my-6 text-white ">
                <thead>
                    <tr class="text-left bg-gray-800">
                        <th class="border-0 p-2">Roll number</th>
                        <th class="border-0 p-2">Name</th>
                        <th class="border-0 p-2">Attendance</th>
                    </tr>
                </thead>
                <tbody>
                    {% for index, row in df.iterrows() %}
                    <tr class="text-left border border-gray-500 p-2 hover:bg-gray-600">
                        <td class="border-0 p-2">{{ row['Roll number'] }}</td>
                        <td class="border-0 p-2">{{ row['Name'] }}</td>
                        <td class="border-0 p-2">{{ row['Attendance'] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            
        </div>
    </div>


</div>

<!--<iframe src="http://127.0.0.1:5000/docs" style="overflow: hidden" width="100%" height="500" >-->

    
</body>
<script>

    function getImagePreview(event) {
        var image = URL.createObjectURL(event.target.files[0]);
        var imagediv = document.getElementById('img-preview');
        var newimg = document.createElement('img');
        imagediv.innerHTML = '';
        newimg.src = image;
        imagediv.appendChild(newimg);
    }
    if (localStorage.getItem("date")) {
        document.getElementById("date").value = localStorage.getItem("date");
    }
    
    document.getElementById("date").addEventListener("change", function() {
        console.log(this.value)
        localStorage.setItem("date", this.value);
    });

    document.getElementById("pdf-form").addEventListener("submit", function(event) {
        var date = localStorage.getItem("date");
        event.preventDefault();

        var url = "/download-pdf?date=" + encodeURIComponent(date);

        // Redirect to the Flask backend with the data
        window.location.href = url;

        console.log(date)
    });

    document.getElementById("csv-form").addEventListener("submit", function(event) {
        var date = localStorage.getItem("date");
        event.preventDefault();

        var url = "/download-xls?date=" + encodeURIComponent(date);

        // Redirect to the Flask backend with the data
        window.location.href = url;
    });

</script>
</html>